<%- include("../../shared/includes/head",{pageTitle: "Sign up"}) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Create new account</h1>
        <div class="alert-container"">
            <% if (inputData.errorMessage) { %>
                <section class="alert">
                    <h2>Invalid input</h2>
                    <p><%= inputData.errorMessage %></p>
                </section>
            <% } %>
        </div>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" value="<%= inputData.email %>" id="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" value="<%= inputData.password %>" id="password" minlength="8" required>
            </div>
            <div>
                <label for="confirm-password">Confirm password</label>
                <input type="password" name="confirm-password" id="confirm-password" minlength="8" required>
            </div>

            <hr>

            <div>
                <label for="name">Name</label>
                <input type="text" name="name" value="<%= inputData.name %>" id="name" required>
            </div>
            <div>
                <label for="last-name">Last name</label>
                <input type="text" name="last-name" value="<%= inputData.lastName %>" id="last-name" required>
            </div>
            <div>
                <label for="street">Street</label>
                <input type="text" name="street" value="<%= inputData.street %>" id="street" required>
            </div>
            <div>
                <label for="postal-code">Postal Code</label>
                <input 
                    type="text" 
                    name="postal-code" 
                    value="<%= inputData.postalCode %>"
                    id="postal-code" 
                    minlength="5" 
                    maxlength="5" 
                    required
                >
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" value="<%= inputData.city %>" id="city" required>
            </div>
            <button class="btn">Create account</button>
            <p id="switch-form"><a href="/login">Login instead</a></p>
        </form>
    </main>
    
<%- include("../../shared/includes/footer") %>