<%- include("../../shared/includes/head",{pageTitle: "All products"}) %>
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/product-details.css">
</head>

<body>
    <%- include("../../shared/includes/header") %>
    <main id="product-details">
        <header>
            <img src="<%= product.imageURL %>" alt="<%= product.title %>">
            <div id="product-info">
                <h1><%= product.title %></h1>
                <p>$<%= product.price %></p>
                <button class="btn">Add to cart</button>
            </div>
        </header>
        <hr>
        <h2>DETAILS</h2>
        <h3>Summary</h3>
        <p><%= product.summary %></p>
        <h3>Details</h3>
        <p id="product-description"><%= product.description %></p>
        
    </main>
    
<%- include("../../shared/includes/footer") %>