<%- include("../../shared/includes/head",{pageTitle: "Your cart"}) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-management.js" defer></script>
</head>

<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Your cart</h1>
        <ul id="cart-items">
            <% for (const cartItem of locals.cart.items) { %>
                <%- include("includes/cart-item",{item: cartItem}) %>
            <% } %>
        </ul>
        <div id="cart-total">
            <h3>
                TOTAL $
                <span><%= locals.cart.totalPrice %></span>
            </h3>
            <% if (locals.isAuth && locals.cart.totalQuantity > 0) { %>
                <form action="/orders" method="POST">
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                    <button class="btn">Buy products</button>
                </form>
            <% } else if (locals.isAuth) { %>
                <p><a href="/">Add products</a> to your cart to buy!</p>
            <% } else { %>
                <p><a href="/login">Login</a> to purchase!</p>
            <% } %>
        </div>
    </main>
    
<%- include("../../shared/includes/footer") %>